# Make Variables
# Must set:
# The client name. Found as CLIENT_NAME in the project's .env file. Also referred to as 'VENDOR'
CLIENT_NAME=
NPM_TOKEN="${NPM_TOKEN}"
NODE_VERSION=20.20.0
NPM_VERSION=10.9.2

# Environment and domain
DOMAIN=$CLIENT_NAME.localhost
CERT=$DOMAIN.pem
KEY=$DOMAIN-key.pem
HOST_INSTALL_PATH=
HOST_DB_PATH=
# Client database will be created at and linked from ${HOST_DB_PATH}/${CLIENT_NAME}

# Host password is used to add a domain to /etc/hosts
HOST_PASSWORD=

# PHP version to use. Must match a docker-compose.<version>.yml override file.
# Available: 81, 82, 83, 84
APP_PHP_VERSION=83